<!DOCTYPE html>
<html>
<title>{{ student['name'] }}- Yearbook Testimonials</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    }
    img{
    max-width:600px;
    max-height:600px;
}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
        <h1><b>YEARBOOK</b></h1>
        <p>Write something interesting about <span class="w3-tag">{{ student['name'] }}</span></p>
    </header>

    <!-- Grid -->
    <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col l8 s12">
            <!-- Blog entry -->
            {% for testimony in testimonies %}
                <div class="w3-card-4 w3-margin w3-white">

                    <div class="w3-container">
                        {{ testimony['markdown']|markdown }}
                    </div>
                    <div class="w3-container">
                        <h5>{{ testimony['author_name'] }} <span class="w3-opacity">{{ testimony['date'] }}</span></h5>
                    </div>
                </div>
                <hr>
            {% endfor %}
            <a href="/add_testimonial/{{ student['roll_no'] }}">
                <div class="w3-card-4 w3-margin w3-white">
                    <div class="w3-container">
                        <center><i class="fa fa-plus-circle fa-5x w3-center" aria-hidden="true"></i></center>

                    </div>
                    {#                <div class="w3-container">#}
                    {#                    <h5>{{ testimony['author_name'] }} <span class="w3-opacity">{{ testimony['date'] }}</span></h5>#}
                    {#                </div>#}
                </div>
            </a>
            <!-- END BLOG ENTRIES -->
        </div>

        <!-- Introduction menu -->
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top">
                <img src="{{ student['image'] }}" style="width:100%">
                <div class="w3-container w3-white">
                    <h4><b>{{ student['name'] }}</b></h4>
                    <p>BIO</p>
                </div>
            </div>
            <hr>

            <!-- Posts -->


            <!-- END Introduction Menu -->
        </div>

        <!-- END GRID -->
    </div>
    <br>

    <!-- END w3-content -->
</div>

</body>
</html>